{{#> base}}
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" class="main">
                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <h2>
                                            Благодарим за вашу покупку, {{user_name}}.
                                        </h2>
                                        <h3>
                                            Оплата прошла успешно
                                            на {{cost}} рублей 
                                            заказ 
                                            {{order_id}}
                                        </h3>
                                        <p>{{excursion_name}}</p>
                                        <p>Дата проведения {{date}} в {{time}} часов</p>
                                        
                                        <p>Место встречи</p>
                                        <p>{{meeting_info}}</p>
                                        <p>
                                            Чек об оплате вы можете получить, нажав на конопку.
                                        </p>


                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0"
                                            class="btn btn-primary">
                                            <tbody>
                                                <tr>
                                                    <td align="left">
                                                        <table role="presentation" border="0" cellpadding="0"
                                                            cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <a href="{{url}}" target="_blank">Чек об
                                                                            оплате</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>
                                            Если кнопка не работает воспользуйтесь данной ссылкой {{url}}.
                                        </p>
                                        <p>Если возникли какие либо проблемы с сервисом пишите нам на <a
                                                href="mailto:support@mskburo.ru">почту</a></p>

                                        <p>Желаем хорошо провести время на экскурсии!</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
{{/base}}